/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*= require rails_bootstrap_forms
*/

$fb-blue:  #4167b2;


body{
  background-color: #e9ebee;
}

.container-1000{
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  position: relative;
  max-width: 1000px;
}

.ul-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.w80{
  width: 80% !important;
}

.image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-bg{
  background-color: $fb-blue;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
}

.index-fb-logo{
   color: #fff;
   font-size: 2rem;
}

.main-nav-logo-full-image{
  background-image: url(asset-path('fb-logo-full.png'));
  width: 171px;
  height: 34px;
}

.main-nav-main-items{
  color: #fff;
}

.main-nav-menu-title  {
  color: #fff;

  .main-nav-submenu-link{
    color: #000 !important;
  }
}

.main-nav-main-items:not(:first-child){
  padding-left: .5rem;
}

.main-nav-left-item:not(:last-child)::after{
  content: " | ";
  color: darken($fb-blue, 15%);
  padding: 0 .5rem;
  align-self: center;
}

.nav-icons{
  color: darken($fb-blue, 25%);
}

.nav-profile-photo-size{
  width: 50%;
}

.nav-profile-photo-image{
  padding-bottom: 100%;
  border-radius: 50%;
}


.main-nav-sign-in-padd{
  margin-top: 6px;
}

.btn-signup{
  padding: .5rem 5rem;
  background: linear-gradient(#75b760, #588d45);
  border: 1px solid #333;
  color: #fff;
  border-radius: 5px;

  &:hover{
    background: linear-gradient(#6cac58, #447333);
  }

  &:active{
    margin-top: 2px;
  }
}


.main-nav-username{
  color: #fff;
  margin-left: .75rem;
}
