// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.users_post{
  background: #fff;
  margin: 1rem 0;
}

.feed-left-col-content{
  background: #e9ebee;
  margin: 1rem 0;
  padding: 2rem 1rem;
}


.sidenav-profile-photo-size{
  width: 24px;
  height: 24px;
}

.sidenav-profile-photo-image{
  padding-bottom: 100%;
  border-radius: 50%;
}


.sidenav-username{
  color: #000;
  margin-left: .75rem;
}


.sidenav-news-feed-icon{
  background-image: url(asset-path('sidenav-newfeed_icon.png'));
  width: 18px;
  height: 18px;
}

.sidenav-events-icon{
  background-image: url(asset-path('sidenav-events_icon.png'));
  width: 19px;
  height: 18px;
}

.sidenav-groups-icon{
  background-image: url(asset-path('sidenav-groups_icon.png'));
  width: 21px;
  height: 20px;
}

.sidenav-marketplace-icon{
  background-image: url(asset-path('sidenav-marketplace_icon.png'));
  width: 21px;
  height: 20px;
}


.sidenav-messenger-icon{
  background-image: url(asset-path('sidenav-messenger_icon.png'));
  width: 20px;
  height: 20px;
}

.sidenav-oculus-icon{
  background-image: url(asset-path('sidenav-oculus_icon.png'));
  width: 20px;
  height: 13px;
}

.sidenav-pages-icon{
  background-image: url(asset-path('sidenav-pages_icon.png'));
  width: 19px;
  height: 21px;
}

.sidenav-watch-icon{
  background-image: url(asset-path('sidenav-watch_icon.png'));
  width: 20px;
  height: 19px;
}

.interior-contact-row {
    display: flex;
    flex-wrap: wrap;
}

.interior-contact-left {
    max-width: 25px;
    width: 100%;
}

.interior-contact-right {
    text-align: left;
}

.sidenav-text-grey{
  color: #616770;
  font-weight: bold;
}
